/* @import url("https://use.typekit.net/jmk3xov.css"); */
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

* {
  box-sizing: border-box;
}

a {
  color: white;
}

.quote a {
  color: black;
}

.navbar ul {
  list-style-type: none;
  background-color: hsl(0, 0%, 0%);
  padding: 0px;
  margin: 0px;
  overflow: hidden;
}

.navbar a {
  color: white;
  text-decoration: none;
  padding: 15px;
  display: block;
  text-align: center;
}

.navbar a:hover {
  background-color: hsl(0, 0%, 50%);
}

.navbar li {
  float: left;
}

.navbar {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 100;

}

.footer {
  background-color: hsl(0, 0%, 0%);
  position: absolute;
  bottom: 0px;
  width: 100%;
  z-index: 1;
  padding: 20px;
}

.footerContainer {
  width: 100%;
  padding: 70px, 30px, 20px;
}

.socialIcons {
  display: flex;
  justify-content: center;
}

.socialIcons a {
  text-decoration: none;
  padding: 10px;
  background-color: white;
  margin: 10px;
  border-radius: 10%;
  transition: 0.5s ease-out 0.12s;
}

.socialIcons a i {
  font-size: 1.5em;
  color: black;
  opacity: 0.9;
  transition: 0.5s ease-out 0.12s;
}

/* Hover effect for social icons */
.socialIcons a:hover {
  background-color: #111;
  transform: translateY(-10px);
  transition: 0.5s ease-out;
}

.socialIcons a:hover i {
  color: white;
  transition: 0.5s ease-out;
}

.footerBottom {
  background-color: hsl(0, 0%, 0%);
  padding: 20px;
  text-align: center;
}

.footerBottom p {
  color: rgb(214, 214, 214);
}

.designer {
  opacity: 0.7;
  letter-spacing: 1px;
  font-weight: 200;
  margin: 0px 5px;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
}

:root {
  --dark-bg: rgba(15, 15, 15, 0.95);
  --spacing: 350px;

  font-family: consolas, sans-serif;
  font-style: normal;
}

main {
  width: 100vw;
  color: white;
  z-index: 99;
  position: absolute;
  width: 100%;
  margin: 0px auto;
  padding: 120px 0px;
  
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

h1, h2, h3 {
  font-family: "Press Start 2P", "consolas", sans-serif;
  font-weight: 500;
  font-style: normal;
}

header {
  background: var(--dark-bg);
  grid-column: 2 / span 6;
  font-size: 1.5rem;
  padding: 2rem;
  margin-bottom: var(--spacing);
  border-radius: 1.2rem;
}

html, body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}


section {
  grid-column: 2 / 7;
  padding: 1rem;
  background: var(--dark-bg);
  font-size: 1.25rem;
  line-height: 1.5;
  margin-bottom: var(--spacing);
  border-radius: 1.2rem;
}

blockquote {
  margin: 0;
  padding: 0;
  grid-column: 3 / span 8;
  margin-bottom: var(--spacing);
}

blockquote p a:visited {
  color: #000000;
}

.quote a {
  font-size: 1.25rem;
}

.bq__p {
  font-size: 1.25rem;
  width: 100%;
}

.bq__s {
  font-size: 1.25rem;
  width: 100%;
}

blockquote p {
  color: black;
  background-color: white;
  font-family: "Press Start 2P", "consolas", sans-serif;
  font-size: 1.6rem;
  display: inline-block;
  text-align: center;
  line-height: 1.3;
  padding: .5rem 1rem;
  border-radius: 1.2rem;
}

.left {
  grid-column: 7 / 12;
}

.left ul li a:visited {
  color: #ffffff;
}

.left p a:visited {
  color: #ffffff;
}

.project-list {
  width: auto;
  border-bottom: 20px solid #ffffff;
  border-top-left-radius: 10px;
  border-top-right-radius: 20px;;
}

.project-list h2 {
  color: #000000;
  background-color: #ffffff;
  padding: 10px 20px;
  font-size: 20px;
  font-weight: 700;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.project-list ul {
  position: relative;
  background-color: #000000;
  padding-inline-start: 0;
}

.sentence {
  grid-column: 3 / span 7;
}

.gratitude {
  grid-column: 5 / span 4;
}

.project-list ul li {
  list-style: none;
  padding: 10px;
  width: 100%;
  background-color: #000000;
  box-shadow: 0 5px 25px rgba(0,0,0,.1);
  transition: transform 0.5s;
  margin-left: 0;
}


.project-list ul li:hover {
  transform: scale(1.1);
  z-index: 100;
  background-color: #ffffff;
  box-shadow: 0 5px 25px rgba(0,0,0,.2);
  color: #000000;
  opacity: 1;
}

.project-list ul li span {
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  background-color: #ffffff;
  color: #000000;
  display: inline-block;
  border-radius: 50%;
  margin-right: 10px;
  font-size: 12px;
  font-weight: 600;
  transform: translateY(-4px);
}

.project-list ul li:hover span {
  background-color: #000000;
  color: #ffffff;
}

.project-list ul li:hover a {
  color: #000000;
}

.project-list .image-container {
  display: none; /* Hide the image by default */
  scale: 0.7;
}

.project-list ul li:hover .image-container {
  display: block; /* Show the image when the user hovers over the list item */
  /* set to the right of the list item */
  position: absolute;
  left: 800px;
  bottom: -400px;
}

.project-list ul li:hover a:visited {
  color: #000000;
}

.project-list ul li a:visited {
  color: #ffffff;
}

@media (max-width: 1792px) {
  .header__name {
    font-size: 1.7rem;
  }

  .header__title {
    font-size: 1.25rem;
  }

  .header__p {
    font-size: 1rem;
  }

  .bq__p {
    font-size: 1.25rem;
    width: 100%;
  }

  .about__title {
    font-size: 1.5rem;
  }

  .about__p1,
  .about__p2 {
    font-size: 1rem;
  }

  .project-list h2 {
    font-size: 1.25rem;
  }

  .project-list ul li {
    font-size: 1rem;
  }

  .project-list ul li:hover .image-container {
    display: block; /* Show the image when the user hovers over the list item */
    /* set to the right of the list item */
    position: absolute;
    left: 600px;
    bottom: -400px;
  }

  .quote a {
    font-size: 1rem;
  }


  .left h2 {
    font-size: 1.5rem;
  }

  .left h3 {
    font-size: 1rem;
  }

  .left p {
    font-size: 1rem;
  }

  blockquote {
    grid-column: 2 / span 10;
  }
}

@media (max-width: 1129px) {
  .header__name {
    font-size: 1.2rem;
  }

  .header__title {
    font-size: .75rem;
  }

  .header__p {
    font-size: .75rem;
  }

  .bq__p {
    font-size: .5rem; 
    width: 100%;
  }

  .bq__s {
    font-size: .5rem;
    width: 100%;
  }

  .gratitude {
    grid-column: 3 / span 8;
  }

  .sentence {
    grid-column: 3 / span 8;
  }

  .about__title {
    font-size: 1rem;
  }

  .about__p1,
  .about__p2 {
    font-size: .5rem;
  }

  .project-list h2 {
    font-size: .75rem;
  }

  .project-list ul li {
    font-size: .5rem;
  }

  .quote a {
    font-size: .5rem;
  }

  .left h2 {
    font-size: .75rem;
  }

  .left h3 {
    font-size: .75rem;
  }

  .left p {
    font-size: .5rem;
  }

  .left ul li {
    font-size: .5rem;
  }

  .left {
    grid-column: 2 / 12;
  }

  blockquote {
    grid-column: 2 / span 10;
  }

  .light {
    grid-column: 2 / span 10;
  }
}